
# macOS
.DS_Store

# =========================
# Logs
# =========================

*.log

# =========================
# Package Managers (使ってる場合)
# =========================

# vcpkg
vcpkg_installed/

# NuGet
packages/
*.nupkg

# =========================
# User-specific files
# =========================

*.userprefs

# =========================
# Others
# =========================

*.bak
*.swp

# Visual Studioの自動生成ファイル（不要）
.vs/